<div  class="container mt-5">

  <div *ngIf="!registerMode" style="text-align:center">
    <h1>Find The Match</h1>
    <p class="Lead">Come on into voew your Match... all you need to do SignUp !</p>
    <div class="text-align:center">
      <button (click) = "registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>


  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
      <!-- passing data from home component which is parent component,  to register component which is the child component of home component -->
      <!-- now if we want to pass property and values to child component (here from home to register), we use [] and we add the newly created property
          named usersFromHomeComponent inside register component AND assigne the value (property name 'users') from parent component home-->

      <!-- when we receive data from ay component, we use '[]', and when we provide data to any component, we use '()'
            so our cancelRegisterMode receive events from child component .. here from register component-->
       <!-- <app-register [usersFromHomeComponent] = "users" (cancelRegister) = "cancelRegisterMode($event)" ></app-register> -->

       <app-register (cancelRegister) = "cancelRegisterMode($event)" ></app-register>


      </div>
    </div>
  </div>

</div>
